/* Estilo do corpo da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #E3F2FA;
    font-family: Arial, sans-serif;
    flex-direction: row;
}

/* Container principal */
.main-container {
    max-width: 250vh;
    padding: 20vh;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin-right: 100vh;
    margin-top: 30vh;
    margin-bottom: 30vh;
    
}

/* Título da página */
.main-container h2 {
    font-size: 4vh;
    color: #333333;
    margin-bottom: 20vh;
}

/* Botões de escolha de perf    il */
.button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
}

/* Estilo específico para cada botão */
.button-artist {
    background-color: #6BAED6;
    margin-top:-20vh ;
}

.button-appreciator {
    background-color: #D9EAF7;
    color: #6BAED6;
}

.button-register {
    background-color: #6BAED6;
    margin-top: 20px;
}

/* Hover nos botões */
.button:hover {
    background-color: #5A9BCF;
}

/* Link de cadastro e login */
.register-link {
    font-size: 14px;
    color: #333333;
    margin-top: 10px;
}

.register-link p {
    margin-top: 10px;
}

.register-link a {
    color: #6BAED6;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Ajuste da imagem */
img {
    max-width: 900px; 
    height: 90vh; 
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: -1;
    
  }